<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.apprise.remoteorderentry"
        versionCode = "10"
        version     = "1.1.0">

  <name>Remote Order Entry</name>

  <description>
    A simple Remote Order Entry application
  </description>

  <author href="http://apprise.com" email="apprise@apprise.com">
    Apprise Inc.
  </author>

  <feature name="http://api.phonegap.com/1.0/device" />

  <feature name="http://api.phonegap.com/1.0/battery"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>

  <icon src="Icon.png" />

  <gap:plugin name="Geolocation" value="org.apache.cordova.GeoBroker"  />
  
</widget>
